.rel-movie {
    display: inline-block;
    padding-right: 20px;
    vertical-align: top;
    padding-bottom: 50px;
    width: calc(100%/7);
}

.rel-movie h2{
    font-size: 100%;
}

.related-movies h3{
    padding: 20px 0;

}

.related-movies h3:after {
    content: "";
    background: orange;
    height: 2px;
    width: 10%;
    display: block;
    margin: 5px 5px 0 0;
}

article a {
    box-shadow: 14px 9px 15px #ffa50014;
    background: orange;
    padding: 10px 20px;
    display: inline-block;
    margin: 20px 0;
    color: #fafafa;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 600;
    font-size: 14px;
    transition: 1s;
}

@media screen and (max-width: 890px){
    .rel-movie {
        width: calc(100%/4);
    }

}

@media screen and (max-width: 690px){
    .rel-movie {
        width: calc(100%/3);
    }

}

@media screen and (max-width: 520px){
    .rel-movie {
        width: calc(100%/2);
    }

}

@media screen and (max-width: 380px){
    .rel-movie {
        width: calc(100%/1);
    }

    .wrap-description {
        padding: 20px 5px;
        background: #ffa500db;
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    
    .movie-link {
        text-decoration: none;
        position: relative;
        display: block;
    }

}