
.movie {
    width: calc(100%/5);
    display: inline-block;
    padding: 10px;
    border-radius: 2px;
    vertical-align: top;
    cursor: pointer;
}

.movie-link{
    text-decoration: none;
}

.genre {
    color: #fafafa;
    display: inline-block;
    padding: 2px;
    font-size: 12px;
    border-radius: 1px;
    margin-bottom: 3px;
    background: #212121;
    margin-right: 2px;
}

figure.wrap-image img {
    width: 100%;
    box-shadow: 2px 2px 10px #0003;
    border-radius: 5px;
}

.movie-title{
    font-size: 1.1em;
    line-height: 1;
    color: #fafafa;
    font-weight: bold;
    text-shadow: 2px 2px 5px #333;
}



@media screen and (max-width: 890px){
    .movie {
        width: calc(100%/4);
    }

}

@media screen and (max-width: 690px){
    .movie {
        width: calc(100%/3);
    }

}

@media screen and (max-width: 520px){
    .movie {
        width: calc(100%/2);
    }

}

@media screen and (max-width: 380px){
    .movie {
        width: calc(100%/1);
    }

    .wrap-description {
        padding: 20px 5px;
        background: #ffa500db;
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    
    .movie-link {
        text-decoration: none;
        position: relative;
        display: block;
    }

}