.search-btn{
    max-width: 200px;
    background: orange;
    flex: .5;
    border: 0;
    outline: none;
    cursor: pointer;
}

.search-wrap form{
        display: flex;
        max-width: 300px;
        width: 90%;
        margin: 80px auto 50px auto;
        justify-content: space-between;
        border-radius: 50px;
        overflow: hidden;
}

input[name="search-field"]{
    flex: 1;
    padding: 20px;
    height: 40px;
    border: 0;
    background-color: #333;
    color: #fafafa;
    font-weight: bold;
}