

.single-movie {
    display: flex;
    padding: 50px 0;
}

.single-movie-title {
    font-size: 2.5em;
    line-height: 1;
    color: #fafafa;
    font-weight: bold;
}

h1.single-movie-title:after {
    content: "";
    background: orange;
    height: 2px;
    width: 10%;
    display: block;
    margin: 5px 5px 0 0;
}

.movie-genres {
    background: orange;
    padding: 2px 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    color: #222;
    font-weight: 700;
    margin-right: 5px;
    margin-bottom: 5px;
}

.release-date{
    margin: 10px 10px 0 0;
    display: inline-block;
}

aside {
    flex: .5;
}

movie-poster > span{
    font-size: 12px;
    padding: 2px 10px;
    position: relative;
    top: 7px;
    z-index: 1;
}

.fav{
    background: tomato;
    font-weight: 900;
    text-shadow: 1px 1px 0px #00000061;
    cursor: pointer;
}

.unFav{
    background: gray;
    cursor: pointer;
}

.movie-poster img{
    width: 100%;
    box-shadow: 10px 10px 10px #0003;
}

.movie-description {
    flex: 1 1;
    padding: 30px 50px;
}

article{
    padding: 20px 0;
}

@media screen and (max-width: 690px){
    .single-movie-title {
        font-size: 1.7em;
    }

    .movie-description {
        flex: 1;
        padding: 30px 0;
    }
    figure.movie-poster {
        width: 200px;
    }
    .single-movie {
        display: flex;
        padding: 50px 0;
        flex-direction: column;
    }
}

@media screen and (max-width: 480px){
    figure.movie-poster {
        width: 100%;
    }
}